.layout-container {
  display: flex;
  min-height: calc(100vh - 76px);
}

main {
  flex: 1;
  background-color: var(--background);
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.825rem;
}
