header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: var(--gds-neutral-100);

  position: sticky;
  z-index: 1000;
  top: 0;

  .header-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  img {
    height: 40px;
  }
}
